<div class="edit-user-form">

    <h2 mat-dialog-title>Modification d'utilisateur</h2>

    <mat-dialog-content [formGroup]="form">

        <mat-form-field>

            <mat-label>Prénom</mat-label>
            <input matInput placeholder="Prénom" formControlName="firstName">
            <mat-error>{{ getFormControlErrorText(firstNameCtrl) }}</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Nom</mat-label>
            <input matInput placeholder="Nom" formControlName="lastName">
            <mat-error>{{ getFormControlErrorText(lastNameCtrl) }}</mat-error>
        </mat-form-field>

        <mat-label>
            Email : {{email}}
        </mat-label>

    </mat-dialog-content>

    <mat-dialog-actions>
        <button mat-raised-button (click)="close()" class="close">Annuler</button>
        <button  mat-raised-button color="primary" (click)="form.valid?saveModifUser():''" class="save">Modifier</button>
    </mat-dialog-actions>

</div>